# Ignore everything in the root directory
/*

# Unignore specific directories and files
!/.gitignore
!/composer/
!/harvester/
!/plant_scheduler/

# Ignore these specific files and directories everywhere
__pycache__/
*.pyc
*.pyo
.env
.venv/
